<div class=container>
  <h1 class="text-center my-4">Public Recipes</h1>
  <% if @recipes.empty? %>
    <p>No public recipes have been added yet</p>
  <% end %>
  <% @recipes.each do |recipe| %>
    <% if recipe.public %>
      <div class="border border-gray border-1 shadow-lg bg-body-tertiary py-4 px-5 mb-4 d-flex">
        <div class="col-5">
          <h3><%= link_to "#{recipe.name}", recipe_path(recipe.id), class: "links" %></h3>
          <h4>By: <%= recipe.user.name %></h4> 
        </div>
        <div>
          <h4> Total food items: <%= recipe.recipe_foods.count %></h4>
          <p><%= "Total price: $#{recipe.total_price}"%></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-center align-items-center mb-4">
    <%= link_to "Back to recipe foods", recipes_path, class: "btn btn-warning text-dark mt-10 mb-10 text-decoration-none p-3" %>
  </div>
</div>