<div id="<%= dom_id recipe %>">
<div class="container">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= recipe.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= recipe.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Public:</strong>
    <%= recipe.public %>
  </p>
  </div>
</div>


