<p style="color: green"><%= notice %></p>

<div class="container bg-warning rounded-top pb-4">
  <div class="d-flex">
    <div>
      
    </div>
    <div class="ms-auto m-1 order-last">
       <h3><%= button_to "X", recipe_path(@recipe.id), method: :delete,  class: 'btn btn-secondary', data: { turbo: false }  %></h3>
    </div>
  </div>
  <h1 class="text-center m-2"><%= @recipe.name %></h1>
    <div class="container d-flex justify-content-between">
      <div class="mt-4" style="margin-left: 60px;">
          <h5 class="card-title text-decoration-none m-3 text-dark">Preparation time: <%= @recipe.preparation_time %>hour</h5> 
          <h5 class="card-title text-decoration-none m-3 text-dark">Cooking time: <%= @recipe.cooking_time %>hour</h5> 
        <div class="m-3"> 
          <h3>Steps goes here...</h3>
        </div>
        <h3><%= link_to "Generate shopping list", '#', class: "btn btn-dark mt-10 m-3 text-decoration-none" %></h3>
      </div>
      
      <div class="m-4">
        <div class="d-flex gap-2 mb-5 mt-4">
          <h5>Public</h5>
          <input type="checkbox">
        </div>
        <h3><%= link_to "Add Ingredients", '#', class: "btn btn-dark mt-5 mb=0 m-2 text-decoration-none" %></h3>
      </div>
    
    </div>
    <hr lass="my-4 border-0 border-top border-4 border-dark">

    <div class='shadow-lg p-3 bg-body-tertiary'>
    <div class="d-flex justify-content-between foods_title">
      <h5>
        Food
      </h5>
      <h5>
        Quantity
      </h5>
      <h5>
        Value
      </h5>
      <h5>
        Actions
      </h5>
    </div>
  </div>

  <% @recipe_foods.each do |recipefood| %>
    <div class='shadow-lg p-3 bg-body-tertiary'>
      <div class="d-flex align-items-center">
        <div class="d-flex justify-content-between foods">
          <p>
            <%= recipefood.food.name %>
          </p>
          <p>
            <%= recipefood.quantity %> <%= recipefood.food.measurement_unit %>
          </p>
          <p>
            $<%= recipefood.quantity * recipefood.food.price %>
          </p>
        </div>
        <h3 class="d-flex">
          <%= button_to "Modify", edit_food_path(recipefood.food), method: :get, class: 'btn btn-warning m-2 text-end modify', data: { turbo: false } %>
          <%= button_to "Remove", recipe_food_path(recipefood), method: :delete,  class: 'btn btn-warning m-2 text-end delete', data: { turbo: false }  %>
        </h3>
      </div>
    </div>
  <% end %>
</div>
  

 

