<div id="<%= dom_id food %>" class="d-flex justify-content-between foods">
  <p>
    <%= food.name %>
  </p>

  <p>
    <%= food.measurement_unit %>
  </p>

  <p>
    <%= food.price %>
  </p>

  <p>
    <%= food.quantity %>
  </p>

</div>
