<div id="<%= dom_id food %>" class="d-flex justify-content-between fooods">
  <p>
    <%= food.name %>
  </p>

  <p>
    <%= food.quantity %>
  </p>

  <p>
    <%= food.measurement_unit %>
  </p>

  <p>
    $<%= food.price %>
  </p>
</div>
